@tailwind base;
@tailwind components;
@tailwind utilities;

.comment {
  /* I needed to override the color of the comment for better accessibility. */
  color: green !important;
}

@layer components {
  .btn-primary {
    @apply inline-block p-1 md:p-2 rounded-md border border-black dark:border-white hover:scale-105 transition-all ease-in duration-200 bg-transparent text-black dark:text-white;
  }
}
.list-disc-reset {
  list-style: disc;
}
.list-decimal-reset {
  list-style: decimal;
}
